<form action="{{ url_install }}" class="form-horizontal" method="post" enctype="multipart/form-data" id="form-modifications" data-refresh="{{ url_refresh }}">
  <div class="btn-group pull-left mb-10" role="group" aria-label="...">
    <button type="button" form="form-modifications" class="btn btn-success" id="form-modifications-button-install" name="install" disabled><i class="fa fa-plus"></i> {{ button_install }}</button>
  </div>
  <div class="btn-group pull-right mb-10" role="group" aria-label="...">
    <button type="button" form="form-modifications" class="btn btn-primary" id="form-modifications-button-refresh" name="refresh"><i class="fa fa-refresh"></i> {{ button_refresh }}</button>
  </div>
  <div id="form-modifications-table">{{ table }}</div>
</form>
